In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q1'22 Point calculations - FY 2022-23.xlsx",
                    sheet_name="Q1'2022-23 SC",header=2)
df2 = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q2'22 Point calculations- FY 2022-23.xlsx",
                   sheet_name="Q2'2022-23 SC",header=2)
df3 = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q3'22 Point Calculation- FY 2022-23.xlsx",
                   sheet_name="Q3'2022-23 SC",header=2)
df4 = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q4'23 Point calculations- FY 2022-23.xlsx",
                   sheet_name="Q4'2022-23 SC",header=2)

In [4]:
file_path =r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q3'22 Point Calculation- FY 2022-23.xlsx"

excel_file = pd.ExcelFile(file_path)

sheet_names = excel_file.sheet_names

print("Sheet names:", sheet_names)

Sheet names: ['Regular Sales pivot', "Q3'22-23 Regular updated sales", 'Smart Sales pivot', "Q3'22 Smart sales", "Q3'2022-23 SC", 'point table']

In [10]:
df1_sales = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q1'22 Point calculations - FY 2022-23.xlsx",
                    sheet_name="Q1'22-23NRegular updated sales")
df2_sales = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q2'22 Point calculations- FY 2022-23.xlsx",
                   sheet_name="Q2'22-23 Regular updated sales")
df3_sales = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q3'22 Point Calculation- FY 2022-23.xlsx",
                   sheet_name="Q3'22-23 Regular updated sales")
df4_sales= pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR Q4'23 Point calculations- FY 2022-23.xlsx",
                   sheet_name="Q4'23 Regular updated sales")

In [11]:
df4_sales.columns

Index(['Month', 'Zone', 'Region', 'Area', 'Customer Code', 'Customer',
       'Account Group - Key', 'Account Group', 'Customer Classific.', 'Cc',
       'Inches', 'Material - Key', 'Premium or not', 'Tyre category',
       'Material', 'Pattern', 'Billing type', 'Quantity'],
      dtype='object')

In [12]:
df1_needtotake = df1[['SAP ID', 'Dealer type', 'Club', 'Eligible for Points as per club','Total eligible sales', 'Q1 Regular Total Points']].copy()
df2_needtotake = df2[['SAP ID', 'Dealer type- Final', 'Club','Eligible for Points as per club','Total eligible sales', 'Q2 Regular Total Points']].copy()
df3_needtotake = df3[['SAP ID', 'Dealer type- Final', 'Club-Dec 22 ','Eligible for Points as per club','Total eligible sales', 'Unnamed: 92']].copy()
df4_needtotake = df4[['SAP ID', 'Dealer type- Final','Club-MARCH2023 End','Eligible for Points as per club','Total eligible sales', 'Unnamed: 92']].copy()

In [13]:
df2_needtotake = df2_needtotake.rename(columns={'Dealer type- Final': 'Dealer type', 'Club': 'Club','Q2 Regular Total Points':'Q1 Regular Total Points'})
df3_needtotake = df3_needtotake.rename(columns={'Dealer type- Final': 'Dealer type', 'Club-Dec 22 ': 'Club','Unnamed: 92':'Q1 Regular Total Points',})
df4_needtotake = df4_needtotake.rename(columns={'Dealer type- Final': 'Dealer type', 'Club-MARCH2023 End': 'Club','Unnamed: 92':'Q1 Regular Total Points'})

In [14]:
df1_needtotake['Quarter'] = 'Q1'
df2_needtotake['Quarter'] = 'Q2'
df3_needtotake['Quarter'] = 'Q3'
df4_needtotake['Quarter'] = 'Q4'

In [15]:
df_combined = pd.concat([df1_needtotake, df2_needtotake, df3_needtotake, df4_needtotake], ignore_index=True)

In [16]:
# Add a column that categorizes based on 'Total eligible sales'
df_combined['Sales Category'] = pd.cut(df_combined['Total eligible sales'],
                                       bins=[0, 1000, 5000, 10000, float('inf')],
                                       labels=['Low', 'Medium', 'High', 'Very High'])

# Display the result
print(df_combined[['SAP ID', 'Total eligible sales', 'Sales Category']].head())

    SAP ID  Total eligible sales Sales Category
0  1100001                    61            Low
1  1108540                     4            Low
2  1116553                     2            Low
3  1118670                     2            Low
4  1120080                     2            Low

In [26]:
df1.columns

Index(['SAP ID', 'Dealer type', 'Club', 'Eligible for Points as per club',
       'April'22 Eligible Offtake', '12-13 inch', '14-15 inch', '16 and above',
       '12-13 inch.1', '14-15 inch.1', '16 and above.1', '12-13 inch.2',
       '14-15 inch.2', '16 and above.2', '12-13 inch.3', '14-15 inch.3',
       '16 and above.3', '12-13 inch.4', '14-15 inch.4', '16 and above.4',
       'May'22 Eligible Offtake', '12-13 inch.5', '14-15 inch.5',
       '16 and above.5', '12-13 inch.6', '14-15 inch.6', '16 and above.6',
       '12-13 inch.7', '14-15 inch.7', '16 and above.7', '12-13 inch.8',
       '14-15 inch.8', '16 and above.8', '12-13 inch.9', '14-15 inch.9',
       '16 and above.9', 'June'22 Eligible Offtake', '12-13 inch.10',
       '14-15 inch.10', '16 and above.10', '12-13 inch.11', '14-15 inch.11',
       '16 and above.11', '12-13 inch.12', '14-15 inch.12', '16 and above.12',
       '12-13 inch.13', '14-15 inch.13', '16 and above.13', '12-13 inch.14',
       '14-15 inch.14', '16 and above.14', 'Total eligible sales',
       'Unnamed: 53', '12-13 inch.15', '14-15 inch.15', '16 and above.15',
       '12-13 inch.16', '14-15 inch.16', '16 and above.16', '12-13 inch.17',
       '14-15 inch.17', '16 and above.17', '12-13 inch.18', '14-15 inch.18',
       '16 and above.18', '12-13 inch.19', '14-15 inch.19', '16 and above.19',
       '12-13 inch.20', '14-15 inch.20', '16 and above.20', '12-13 inch.21',
       '14-15 inch.21', '16 and above.21', '12-13 inch.22', '14-15 inch.22',
       '16 and above.22', '12-13 inch.23', '14-15 inch.23', '16 and above.23',
       '12-13 inch.24', '14-15 inch.24', '16 and above.24', '12-13 inch.25',
       '14-15 inch.25', '16 and above.25', '12-13 inch.26', '14-15 inch.26',
       '16 and above.26', 'Q1 Regular Total Points',
       'FINAL POINTS AS PER CLUB'],
      dtype='object')

In [17]:
df_combined.to_excel(r"E:\FY compiled Scorecard\Advantage\Consolidated files\22-23\PCR_compile score card FY 2022-23.xlsx",sheet_name="Compile file",index=False)