In [1]:
import pandas as pd

In [4]:
df6 = pd.read_csv(r"D:\Shikha\Download\data.csv")

C:\Users\DELL\AppData\Local\Temp\ipykernel_11424\694535661.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(r"D:\Shikha\Download\data.csv")

In [5]:
def determine_product_type(value):
    if value.startswith("131") or value.startswith("133") or value.startswith("141") or value.startswith("143"):
        return "PCR-BIAS"
    elif value.startswith("132") or value.startswith("142") or value.startswith("145"):
        return "PCR-RADIAL"
    else:
        return "NA"
df6['Product_Type'] = df6['Material'].apply(determine_product_type)

In [6]:
df6.columns

Index(['FinancialYear', 'Quarter', 'Year', 'Month', 'Zone', 'Region',
       'CustomerCode', 'Customer', 'AccountGroupKey', 'AccountGroup',
       'CustomerClassification', 'Inches', 'Material', 'TyreCategory',
       'Pattern', 'BillingType', 'Quantity', 'Category', 'Product_Type'],
      dtype='object')

In [7]:
filtered_df = df6[
    (df6['Product_Type'] == 'PCR-RADIAL') &
    ((df6['AccountGroupKey'] == 'Z001') | 
     ((df6['AccountGroupKey'] == 'Z004') & df6['CustomerClassification'].isin(['DB', 'RD','DISTRIBUTOR','Rural Distribution'])))]

pivot_table = df6.pivot_table(
    index=['Quarter','Year'],
    values=['CustomerCode', 'Quantity'],
    aggfunc={'CustomerCode': 'count', 'Quantity': 'sum'},
    fill_value=0
)

print(pivot_table)

              CustomerCode   Quantity
Quarter Year
Q1      2019        394442   984481.0
        2020        183254  1711153.0
        2021        275248  2532481.0
        2022        384299  3089499.0
        2023        392736  3010597.0
Q2      2019        280590  1506243.0
        2020        326298  3145011.0
        2021        122965   864443.0
        2022        397934  3278102.0
        2023        374621  3093801.0
Q3      2019        286376  2837972.0
        2020        345754  3357723.0
        2021        122844   835421.0
        2022        381257  3007339.0
        2023        352433  2842142.0
Q4      2020        206782  1457751.0
        2021        343587  3173469.0
        2022        264695  2124124.0
        2023        364990  2875212.0
        2024        323291  2196871.0

In [8]:
filtered_df = df6[
    (df6['Product_Type'] == 'PCR-RADIAL') &
    ((df6['AccountGroupKey'] == 'Z001') | 
     ((df6['AccountGroupKey'] == 'Z004') & df6['CustomerClassification'].isin(['DB', 'RD','DISTRIBUTOR','Rural Distribution'])))]

pivot_table = df6.pivot_table(
    index=['FinancialYear'],
    values=['CustomerCode', 'Quantity'],
    aggfunc={'CustomerCode': 'count', 'Quantity': 'sum'},
    fill_value=0
)

print(pivot_table)

               CustomerCode    Quantity
FinancialYear
19-20               1168190   6786447.0
20-21               1198893  11387356.0
21-22                785752   6356469.0
22-23               1528480  12250152.0
23-24               1443081  11143411.0

In [17]:
df6['AccountGroupKey'].value_counts()

AccountGroupKey
Z001    5424619
Z004     524316
Z009      95562
#         54120
Z010      13843
Z006       5946
Z003       5907
Z015         66
Z007         11
Z005          6
Name: count, dtype: int64

In [10]:

pivot_table_2= df6.pivot_table(
    index=['Product_Type'],
    values=['Quantity'],
    aggfunc={'Quantity': 'sum'},
    fill_value=0
)

print(pivot_table_2)

                Quantity
Product_Type
NA            33815833.0
PCR-BIAS        110615.0
PCR-RADIAL    13997387.0

In [11]:
filtered_df = df6[
    (df6['Product_Type'] == 'PCR-RADIAL') &
    ((df6['AccountGroupKey'] == 'Z001') | 
     ((df6['AccountGroupKey'] == 'Z004') & df6['CustomerClassification'].isin(['DB', 'RD','DISTRIBUTOR','Rural Distribution'])))]

pivot_table = filtered_df.pivot_table(
    index=['FinancialYear','Quarter'],
    values=['CustomerCode', 'Quantity'],
    aggfunc={'CustomerCode': 'count', 'Quantity': 'sum'},
    fill_value=0
)

print(pivot_table)

                       CustomerCode  Quantity
FinancialYear Quarter
19-20         Q1             139583  467999.0
              Q2              96061  594559.0
              Q3              83242  675219.0
              Q4              62354  488424.0
20-21         Q1              36023  200304.0
              Q2              90808  633594.0
              Q3             108566  821903.0
              Q4             107637  748945.0
21-22         Q1              81140  537269.0
              Q2             121079  802783.0
              Q3             120900  786373.0
              Q4             104016  628412.0
22-23         Q1             121849  770679.0
              Q2             133571  851766.0
              Q3             124867  796933.0
              Q4             113285  782012.0
23-24         Q1             119097  857985.0
              Q2             114393  814128.0
              Q3             108403  805138.0
              Q4              78204  474080.0

In [65]:
filter_df.columns

Index(['FinancialYear', 'Quarter', 'Year', 'Month', 'Zone', 'Region',
       'CustomerCode', 'Customer', 'AccountGroupKey', 'AccountGroup',
       'CustomerClassification', 'Inches', 'Material', 'TyreCategory',
       'Pattern', 'BillingType', 'Quantity', 'Category', 'Product_Type'],
      dtype='object')

In [28]:
filter_df = df6[(df6['Product_Type'] != "NA") & (df6['AccountGroupKey'].isin(['Z001','Z004']))].copy()
# filter_df = df6[(df6['Product_Type'] != "NA") & (df6['AccountGroupKey'].isin(['Z001', 'Z004']))].copy()

In [30]:
pivot_1 = filter_df.pivot_table(
    index = ['FinancialYear' , 'Product_Type'],
    values = ['CustomerCode','Quantity'],
    aggfunc = {'CustomerCode' :'count','Quantity' : 'sum'},
    fill_value = 0
)

In [40]:
# pivot_1

In [69]:
pivot_2 = filter_df.pivot_table(
    index = ['Quarter','Zone'],
    values = ['CustomerCode','Quantity'],
    aggfunc = {'CustomerCode' :'count','Quantity' : 'sum'},
    fill_value = 0
)

In [70]:
pivot_2

Empty DataFrame
Columns: []
Index: []

In [64]:
pivot_2.to_excel(r"C:\Users\DELL\Downloads\PCR-RADIAL_Year_Product-Type_Zone.xlsx")

In [68]:
filter_df = df6[(df6['FinancialYear'] == '22-23') & (df6['Product_Type'] == 'PCR-RADIA') & (df6['AccountGroupKey'].isin(['Z001','Z004']))].copy()

# filter_df = df6[(df6['FinancialYear'] == '22-23') & 
#                 (df6['Product_Type'] != "NA") & 
#                 (df6['AccountGroupKey'].isin(['Z001', 'Z004']))].copy()

In [71]:
filter_df_1 = df6[(df6['FinancialYear'] == '22-23') & (df6['Product_Type'] == 'PCR-RADIA') & (df6['AccountGroupKey'].isin(['Z001','Z004']))].copy()

In [72]:
pivot_2 = filter_df_1.pivot_table(
    index = ['Quarter','Zone'],
    values = ['CustomerCode','Quantity'],
    aggfunc = {'CustomerCode' :'count','Quantity' : 'sum'},
    fill_value = 0
)

In [73]:
pivot_2

Empty DataFrame
Columns: []
Index: []