In [1]:
import pandas as pd
import os
import numpy as np

In [73]:
ch = pd.read_excel(r"D:\Shikha\Data\Baadshah Yearly sales data\2023-2024\compiled_sales_data_h2.xlsx")

In [71]:
df = pd.read_excel (r"D:\Shikha\Data\Baadshah_sales files\Oct'2023 Closing Sales dump.xlsx")

In [74]:
df['Month'].value_counts()

Month
OCT 2023    120032
Name: count, dtype: int64

120715

In [76]:
monthly_sales = ch.groupby('Month_Name')['Quantity'].sum().reset_index()
monthly_sales

  Month_Name  Quantity
0   Dec'2023       0.0
1   Feb'2024       0.0
2   Jan'2024       0.0
3   Mar'2024       0.0
4   Nov'2023  806787.0
5   Oct'2023  937211.0

In [77]:
ch['Month_Name'].value_counts()

Month_Name
Oct'2023    120032
Nov'2023    107524
Mar'2024     50665
Dec'2023     30183
Feb'2024     25605
Jan'2024     25232
Name: count, dtype: int64

In [79]:
df.columns

Index(['Month', 'Zone', 'Region', 'Area', 'Customer Code', 'Customer',
       'Account Group - Key', 'Account Group', 'Customer Classific.',
       'Customer Classification', 'Inches', 'Material - Key', 'Tyre category',
       'Material', 'Pattern', 'Billing type', 'Quantity', 'Truck BIAS',
       'Truck RDL', 'LCV BIAS', 'LCV RDL', 'CAR BIAS', 'CAR RDL', 'Jeep BIAS',
       'Jeep RDL', 'Tr. Rear BIAS', 'Tr. Front BIAS', 'Tr. Trailert BIAS',
       'ADV BIAS', 'Scooter', 'OTR BIAS', 'SCV BIAS', 'SCV RDL', 'Motor Cycle',
       '3 W'],
      dtype='object')

In [80]:
df['Quantity'].sum()

937211