In [1]:
import pandas as pd

In [8]:
df = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\FIle for Groupby.xlsx")

In [10]:
import numpy as np

In [14]:
# Group by the specified columns and only sum numerical columns
grouped_df = df.groupby(['Year', 'Qtr', 'SAP ID']).sum(numeric_only=True)
print(grouped_df)

                       Joining Year   Pincode  Joining \nBouns  Total Offtake  \
Year      Qtr SAP ID
2016-2017 Q1  1100002          2007  134007.0              0.0             86
              1100004          2007  134007.0              0.0            457
              1100014          2007  134007.0              0.0            167
              1100030          2007  134007.0              0.0            380
              1100033          2007  134007.0              0.0            200
...                             ...       ...              ...            ...
2023-2024 Q4  1405390          2023  176102.0              0.0             85
              1405402          2024  176102.0              0.0            190
              1405417          2024  176102.0              0.0              0
              1405444             0  176102.0              0.0              7
              1405458          2024  176102.0              0.0              5

                       Total Points\nOver Offtake  Additional\nPoints  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                      9050.0            200000.0
              1100004                     52220.0             10444.0
              1100014                     22285.0                 0.0
              1100030                     54800.0            240000.0
              1100033                     26925.0                 0.0
...                                           ...                 ...
2023-2024 Q4  1405390                      6620.0                 0.0
              1405402                     20428.0                 0.0
              1405417                         0.0                 0.0
              1405444                         0.0                 0.0
              1405458                         0.0                 0.0

                       PCR\nOfftake  PCR\nPoints  Truck TBR Offtake  \
Year      Qtr SAP ID
2016-2017 Q1  1100002             0          0.0                  0
              1100004             0          0.0                  0
              1100014             0          0.0                  0
              1100030             0          0.0                  0
              1100033             0          0.0                  0
...                             ...          ...                ...
2023-2024 Q4  1405390            85       6620.0                  0
              1405402           190      20428.0                  0
              1405417             0          0.0                  0
              1405444             7          0.0                  0
              1405458             5          0.0                  0

                       Truck TBR Point  ...  \
Year      Qtr SAP ID                    ...
2016-2017 Q1  1100002              0.0  ...
              1100004              0.0  ...
              1100014              0.0  ...
              1100030              0.0  ...
              1100033              0.0  ...
...                                ...  ...
2023-2024 Q4  1405390              0.0  ...
              1405402              0.0  ...
              1405417              0.0  ...
              1405444              0.0  ...
              1405458              0.0  ...

                       12-13 inch\nPuncture Gaurad_Points  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                                 0.0
              1100004                                 0.0
              1100014                                 0.0
              1100030                                 0.0
              1100033                                 0.0
...                                                   ...
2023-2024 Q4  1405390                                 0.0
              1405402                                 0.0
              1405417                                 0.0
              1405444                                 0.0
              1405458                                 0.0

                       14-15 inch\nPuncture Gaurad_Points  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                                 0.0
              1100004                                 0.0
              1100014                                 0.0
              1100030                                 0.0
              1100033                                 0.0
...                                                   ...
2023-2024 Q4  1405390                                 0.0
              1405402                                 0.0
              1405417                                 0.0
              1405444                                 0.0
              1405458                                 0.0

                       16 and above\nPuncture Gaurad_Points  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                                   0.0
              1100004                                   0.0
              1100014                                   0.0
              1100030                                   0.0
              1100033                                   0.0
...                                                     ...
2023-2024 Q4  1405390                                   0.0
              1405402                                   0.0
              1405417                                   0.0
              1405444                                   0.0
              1405458                                   0.0

                       12-13 inch Smart_normal_\nPoints  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                               0.0
              1100004                               0.0
              1100014                               0.0
              1100030                               0.0
              1100033                               0.0
...                                                 ...
2023-2024 Q4  1405390                               0.0
              1405402                               0.0
              1405417                               0.0
              1405444                               0.0
              1405458                               0.0

                       14-15 inch Smart_normal_\nPoints  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                               0.0
              1100004                               0.0
              1100014                               0.0
              1100030                               0.0
              1100033                               0.0
...                                                 ...
2023-2024 Q4  1405390                               0.0
              1405402                               0.0
              1405417                               0.0
              1405444                               0.0
              1405458                               0.0

                       16 and above Smart_normal_\nPoints  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                                 0.0
              1100004                                 0.0
              1100014                                 0.0
              1100030                                 0.0
              1100033                                 0.0
...                                                   ...
2023-2024 Q4  1405390                                 0.0
              1405402                               916.0
              1405417                                 0.0
              1405444                                 0.0
              1405458                                 0.0

                       12-13 inch Smart_premium_\nPoints  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                                0.0
              1100004                                0.0
              1100014                                0.0
              1100030                                0.0
              1100033                                0.0
...                                                  ...
2023-2024 Q4  1405390                                0.0
              1405402                                0.0
              1405417                                0.0
              1405444                                0.0
              1405458                                0.0

                       14-15 inch Smart_premium_\nPoints  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                                0.0
              1100004                                0.0
              1100014                                0.0
              1100030                                0.0
              1100033                                0.0
...                                                  ...
2023-2024 Q4  1405390                                0.0
              1405402                                0.0
              1405417                                0.0
              1405444                                0.0
              1405458                                0.0

                       16 and above Smart_premium_\nPoints  \
Year      Qtr SAP ID
2016-2017 Q1  1100002                                  0.0
              1100004                                  0.0
              1100014                                  0.0
              1100030                                  0.0
              1100033                                  0.0
...                                                    ...
2023-2024 Q4  1405390                                  0.0
              1405402                                  0.0
              1405417                                  0.0
              1405444                                  0.0
              1405458                                  0.0

                       Additional Scheme Points
Year      Qtr SAP ID
2016-2017 Q1  1100002                  100000.0
              1100004                    5222.0
              1100014                       0.0
              1100030                  120000.0
              1100033                       0.0
...                                         ...
2023-2024 Q4  1405390                       0.0
              1405402                       0.0
              1405417                       0.0
              1405444                       0.0
              1405458                       0.0

[152161 rows x 84 columns]

In [16]:
# Define conditions based on the specified ranges and years
conditions = [
    # Conditions for "2019-2020"
    (df['Year'] == "2019-2020") & (df['Total Offtake'] <= 59),
    (df['Year'] == "2019-2020") & (df['Total Offtake'] >= 60) & (df['Total Offtake'] <= 100),
    (df['Year'] == "2019-2020") & (df['Total Offtake'] >= 101) & (df['Total Offtake'] <= 149),
    (df['Year'] == "2019-2020") & (df['Total Offtake'] >= 150) & (df['Total Offtake'] <= 250),
    (df['Year'] == "2019-2020") & (df['Total Offtake'] >= 251) & (df['Total Offtake'] <= 450),
    (df['Year'] == "2019-2020") & (df['Total Offtake'] >= 451) & (df['Total Offtake'] <= 750),
    (df['Year'] == "2019-2020") & (df['Total Offtake'] >= 751) & (df['Total Offtake'] <= 1000),
    (df['Year'] == "2019-2020") & (df['Total Offtake'] > 1000),
    
    # Conditions for "2020-2021"
    (df['Year'] == "2020-2021") & (df['Total Offtake'] <= 74),
    (df['Year'] == "2020-2021") & (df['Total Offtake'] >= 75) & (df['Total Offtake'] <= 150),
    (df['Year'] == "2020-2021") & (df['Total Offtake'] >= 151) & (df['Total Offtake'] <= 300),
    (df['Year'] == "2020-2021") & (df['Total Offtake'] >= 301) & (df['Total Offtake'] <= 600),
    (df['Year'] == "2020-2021") & (df['Total Offtake'] >= 601) & (df['Total Offtake'] <= 1000),
    (df['Year'] == "2020-2021") & (df['Total Offtake'] >= 1001) & (df['Total Offtake'] <= 1500),
    (df['Year'] == "2020-2021") & (df['Total Offtake'] >= 1501) & (df['Total Offtake'] <= 2400),
    (df['Year'] == "2020-2021") & (df['Total Offtake'] > 2400),

    # Conditions for "2021-2022"
    (df['Year'] == "2021-2022") & (df['Total Offtake'] <= 74),
    (df['Year'] == "2021-2022") & (df['Total Offtake'] >= 75) & (df['Total Offtake'] <= 150),
    (df['Year'] == "2021-2022") & (df['Total Offtake'] >= 151) & (df['Total Offtake'] <= 300),
    (df['Year'] == "2021-2022") & (df['Total Offtake'] >= 301) & (df['Total Offtake'] <= 600),
    (df['Year'] == "2021-2022") & (df['Total Offtake'] >= 601) & (df['Total Offtake'] <= 1000),
    (df['Year'] == "2021-2022") & (df['Total Offtake'] >= 1001) & (df['Total Offtake'] <= 1500),
    (df['Year'] == "2021-2022") & (df['Total Offtake'] >= 1501) & (df['Total Offtake'] <= 2400),
    (df['Year'] == "2021-2022") & (df['Total Offtake'] > 2400),

    # Conditions for "2022-2023"
    (df['Year'] == "2022-2023") & (df['Total Offtake'] <= 74),
    (df['Year'] == "2022-2023") & (df['Total Offtake'] >= 75) & (df['Total Offtake'] <= 150),
    (df['Year'] == "2022-2023") & (df['Total Offtake'] >= 151) & (df['Total Offtake'] <= 300),
    (df['Year'] == "2022-2023") & (df['Total Offtake'] >= 301) & (df['Total Offtake'] <= 600),
    (df['Year'] == "2022-2023") & (df['Total Offtake'] >= 601) & (df['Total Offtake'] <= 1000),
    (df['Year'] == "2022-2023") & (df['Total Offtake'] >= 1001) & (df['Total Offtake'] <= 1500),
    (df['Year'] == "2022-2023") & (df['Total Offtake'] >= 1501) & (df['Total Offtake'] <= 2400),
    (df['Year'] == "2022-2023") & (df['Total Offtake'] > 2400),

    # Conditions for "2023-2024"
    (df['Year'] == "2023-2024") & (df['Total Offtake'] <= 59),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 60) & (df['Total Offtake'] <= 149),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 150) & (df['Total Offtake'] <= 299),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 300) & (df['Total Offtake'] <= 449),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 450) & (df['Total Offtake'] <= 749),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 750) & (df['Total Offtake'] <= 1499),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 1500) & (df['Total Offtake'] <= 2249),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 2250) & (df['Total Offtake'] <= 2999),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 3000) & (df['Total Offtake'] <= 4499),
    (df['Year'] == "2023-2024") & (df['Total Offtake'] >= 4500)
]

# Define the corresponding output values for each condition
values = [
    "0", "60-100", "101-149", "150-250", "251-450", "451-750", "751-1000", "Greater than 1000", # 2019-2020
    "0", "75-150", "151-300", "301-600", "601-1000", "1001-1500", "1501-2400", "2401+", # 2020-2021
    "0", "75-150", "151-300", "301-600", "601-1000", "1001-1500", "1501-2400", "2401+", # 2021-2022
    "0", "75-150", "151-300", "301-600", "601-1000", "1001-1500", "1501-2400", "2401+", # 2022-2023
    "0", "60-149", "150-299", "300-449", "450-749", "750-1499", "1500-2249", "2250-2999", "3000-4499", "4500 & Above" # 2023-2024
]

# Apply conditions
df['Category'] = np.select(conditions, values, default="Uncategorized")

In [115]:
# grouped_df.to_excel(r"E:\FY compiled Scorecard\Advantage\grouped_df.xlsx")

New work

In [122]:
df2 = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Final\Book3.xlsx")

In [123]:
df2 = df.sort_values(by=['Year', 'Qtr', 'Total Offtake'], ascending=[True, True, False])
df2['Rank'] = df.groupby(['Year', 'Qtr'])['Total Offtake'].rank(ascending=False, method='dense')

In [124]:
def assign_slab(rank):
    if rank <= 25 :
        return "Top"
    elif rank <= 50:
        return "High"
    elif rank <= 500:
        return "Medium"
    else:
        return "Low"

In [125]:
df2['Rank Slab'] = df2['Rank'].apply(assign_slab)

In [126]:
df2['Rank Slab'].value_counts()

Rank Slab
Low       117559
Medium     38073
High         852
Top          830
Name: count, dtype: int64

In [127]:
df['Rank']

261         1.0
282         2.0
7           3.0
943         4.0
1375        5.0
          ...
155617    624.0
153810    625.0
157193    626.0
153182    627.0
153823    628.0
Name: Rank, Length: 157314, dtype: float64

In [128]:
df2.to_excel(r"E:\FY compiled Scorecard\Advantage\Final\grouped_df(Updated).xlsx")