In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\HP\Downloads\Merge data.xlsx")

In [3]:
df.columns

Index(['Rep Month', 'Billing Date', 'Month', 'Region', 'Territory', 'Zone',
       'Customer', 'Customer_code', 'Business name', 'Account Group',
       'Account Group.1', 'Classification', 'Dealer Applicable or Not',
       'Billing type', 'Material', 'Inch for tyre', 'Inch fro Pivot',
       'Tyre Type', 'Tyre Category', 'Description', 'Car Rdl', 'Jeep Rdl',
       'total'],
      dtype='object')

In [4]:
df2 = df[['Zone', 'Region', 'Customer', 'Business name', 'Account Group', 'Account Group.1', 
          'Classification', 'Inch for tyre', 'Material', 'Description', 'Billing type', 
          'total', 'Car Rdl', 'Jeep Rdl']].copy()

In [5]:
df2.columns

Index(['Zone', 'Region', 'Customer', 'Business name', 'Account Group',
       'Account Group.1', 'Classification', 'Inch for tyre', 'Material',
       'Description', 'Billing type', 'total', 'Car Rdl', 'Jeep Rdl'],
      dtype='object')

In [6]:
rename_dict = {
    'Zone': 'Zone',
    'Region': 'Region',
    'Customer': 'Customer_code',
    'Business name': 'Customer',
    'Account Group': 'Account Group Key',
    'Account Group.1': 'Account Group',
    'Classification': 'Customer Classification',
    'Inch for tyre': 'Inches',
    'Material': 'Material Key',
    'Description': 'Material',
    'Billing type': 'Billing type',
    'total': 'Quantity',
    'Car Rdl': 'CAR RDL',
    'Jeep Rdl': 'Jeep RDL'
}
df2.rename(columns=rename_dict, inplace=True)
print(df2.head())

   Zone   Region  Customer_code                     Customer  \
0  East  KOLKATA        1103083  UNITED SALES AGEN CAL(P)LTD
1  East  KOLKATA        1103083  UNITED SALES AGEN CAL(P)LTD
2  East  KOLKATA        1103083  UNITED SALES AGEN CAL(P)LTD
3  East  KOLKATA        1103083  UNITED SALES AGEN CAL(P)LTD
4  East  KOLKATA        1103083  UNITED SALES AGEN CAL(P)LTD

  Account Group Key Account Group Customer Classification  Inches  \
0              Z001        Dealer                      SW      15
1              Z001        Dealer                      SW      13
2              Z001        Dealer                      SW      13
3              Z001        Dealer                      SW      13
4              Z001        Dealer                      SW      14

         Material Key                                  Material Billing type  \
0  1325121715100SBRT0              215/75R15 BRUTE 4X4_100_S_TT         ZBCL
1  1325215813079SUHL0         155/80 R13_ULTIMA HI^LIFE_79 S TL         ZBCL
2  1325215813079TUNE3  155/80R13 Ultima Neo 79T MSIL YL7 BSVI T         ZBCL
3  1325215813079TUNE3  155/80R13 Ultima Neo 79T MSIL YL7 BSVI T         ZBCL
4  1325216814085STMX0                165/80 R14_TAXIMAX_85 S TL         ZBCL

   Quantity  CAR RDL  Jeep RDL
0         1      1.0         0
1         1      1.0         0
2         1      1.0         0
3         1      1.0         0
4         1      1.0         0

In [13]:
df2.columns

Index(['Zone', 'Region', 'Customer_code', 'Customer', 'Account Group Key',
       'Account Group', 'Customer Classification', 'Inches', 'Material Key',
       'Material', 'Billing type', 'Quantity', 'CAR RDL', 'Jeep RDL'],
      dtype='object')

In [15]:
df3 = pd.read_excel(r"C:\Users\HP\Downloads\Ref files.xlsx")

In [17]:
df3.columns

Index(['Customer Classific.', 'Customer class'], dtype='object')

In [19]:
df2 = df2.merge(df3[['Customer class', 'Customer Classific.']].rename(columns={'Customer Classific.': 'Customer Classification'}), 
                on='Customer Classification', 
                how='left')

In [21]:
df2.columns

Index(['Zone', 'Region', 'Customer_code', 'Customer', 'Account Group Key',
       'Account Group', 'Customer Classification', 'Inches', 'Material Key',
       'Material', 'Billing type', 'Quantity', 'CAR RDL', 'Jeep RDL',
       'Customer class'],
      dtype='object')

In [23]:
df4 = df2[['Zone', 'Region', 'Customer_code', 'Customer', 'Account Group Key',
       'Account Group', 'Customer Classification','Customer class', 'Inches', 'Material Key',
       'Material', 'Billing type', 'Quantity', 'CAR RDL', 'Jeep RDL']].copy()

In [78]:
df4.columns

Index(['Zone', 'Region', 'Customer_code', 'Customer', 'Account Group Key',
       'Account Group', 'Customer Classification', 'Customer class', 'Inches',
       'Material Key', 'Material', 'Billing type', 'Quantity', 'CAR RDL',
       'Jeep RDL', 'Product_type'],
      dtype='object')

In [27]:
df4.count()

Zone                       372190
Region                     372190
Customer_code              372190
Customer                   372190
Account Group Key          372190
Account Group              372190
Customer Classification    360689
Customer class                  0
Inches                     372190
Material Key               372190
Material                   372190
Billing type               372190
Quantity                   372190
CAR RDL                    370822
Jeep RDL                   372190
dtype: int64

In [39]:
df4['Customer Classification'].value_counts()

Customer Classification
SW    120416
TP     86445
CO     84214
XW     26078
PD     15811
NT      9499
DB      8593
TR      4416
FW      1777
RD       697
IC       647
MS       614
HC       588
TW       536
TO       137
WV       120
CP        43
01        21
RN        16
HY         6
#          6
EC         6
D          2
OT         1
Name: count, dtype: int64

In [31]:
def determine_product_type(value_or_material):
    # First, handle the PCR-BIAS and PCR-RADIAL conditions (from the first function)
    if value_or_material.startswith("131") or value_or_material.startswith("133") or value_or_material.startswith("141") or value_or_material.startswith("143"):
        return "PCR-BIAS"
    elif value_or_material.startswith("132") or value_or_material.startswith("142") or value_or_material.startswith("145"):
        return "PCR-RADIAL"
    elif value_or_material.startswith("121") or value_or_material.startswith("123"):
        return "LCV-BIAS"
    elif value_or_material.startswith("122") or value_or_material.startswith("125"):
        return "LCV-RADIAL"
    elif value_or_material.startswith("1D1") or value_or_material.startswith("1D3"):
        return "SCV-BIAS"
    elif value_or_material.startswith("1D2") or value_or_material.startswith("1D5"):
        return "SCV-RADIAL"
    elif value_or_material.startswith("1S"):
        return "SCOOTER"
    elif value_or_material.startswith("1B"):
        return "MOTORCYCLE"
    elif value_or_material.startswith("1H"):
        return "3W"
    elif value_or_material.startswith("111") or value_or_material.startswith("113"):
        return "TRUCK-BIAS"
    elif value_or_material.startswith("112") or value_or_material.startswith("115"):
        return "TRUCK-RADIAL"
    elif value_or_material.startswith("1E1") or value_or_material.startswith("181"):
        return "OTR"
    elif value_or_material.startswith("15") or value_or_material.startswith("16") or value_or_material.startswith("17") or value_or_material.startswith("19"):
        return "FARM"
    else:
        return "NA"

In [33]:
df4['Product_type'] = df4['Material'].apply(determine_product_type)

In [82]:
E_df = df4[
    (df4['Product_type'] == 'PCR-RADIAL') & 
    ((df4['Account Group Key'] == 'Z001') | 
     ((df4['Account Group Key'] == 'Z004') & df4['Customer Classification'].isin(['DB', 'RD'])))
].copy()

In [104]:
ee_df = df4[(df4['Product_type'] == 'PCR-RADIAL') & (df4['Account Group Key'].isin(['Z001','Z004']))].copy()

In [108]:
ee_df['Quantity'].sum()

249511

In [90]:
E_df['Quantity'].sum()

247032

In [112]:
249511/6

41585.166666666664

In [97]:
df4.to_csv(r"C:\Users\HP\Downloads\Merge-new data.csv")

In [127]:
df5 = pd.read_csv(r"C:\Users\HP\Downloads\Merge-new data.csv")

In [129]:
df5.count()

Zone                       372190
Region                     372190
Area                       372190
Month                      372190
Customer_code              372190
Customer                   372190
Account Group Key          372190
Account Group              372190
Customer Classification    360689
Customer class             360668
Inches                     372190
Material Key               372190
Material                   372190
Pattern                    372190
Billing type               372190
Quantity                   372190
CAR RDL                    370822
Jeep RDL                   372190
dtype: int64

In [137]:
import pandas as pd
import os

# Assuming df5 is already loaded
# Specify the output directory
output_dir = r"C:\Users\HP\Downloads\new"
os.makedirs(output_dir, exist_ok=True)  # Create the folder if it doesn't exist

# Group data by the 'Month' and 'Zone' columns
for (month, zone), group_df in df5.groupby(['Month', 'Zone']):
    # Reset the index for each group's DataFrame
    group_df = group_df.reset_index(drop=True)
    
    # Split the group's data into chunks of 30,000 rows
    num_chunks = (len(group_df) // 30000) + 1
    for chunk_idx in range(num_chunks):
        chunk = group_df.iloc[chunk_idx * 30000:(chunk_idx + 1) * 30000]
        if not chunk.empty:
            # Define the file name with both Month and Zone
            file_name = f"{output_dir}/{month}_{zone}_chunk_{chunk_idx + 1}.csv"
            # Save the chunk to a CSV file
            chunk.to_csv(file_name, index=False)
            print(f"Saved: {file_name}")

Saved: C:\Users\HP\Downloads\new/April_Central_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/April_East_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/April_North_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/April_South - I_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/April_South - II_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/April_West_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/August_Central_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/August_East_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/August_North_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/August_South - I_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/August_South - II_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/August_West_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/July_Central_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/July_East_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/July_North_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/July_South - I_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/July_South - II_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/July_West_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/June_Central_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/June_East_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/June_North_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/June_Not assigned_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/June_South - I_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/June_South - II_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/June_West_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/May_Central_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/May_East_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/May_North_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/May_Not assigned_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/May_South - I_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/May_South - II_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/May_West_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/Sep_Central_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/Sep_East_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/Sep_North_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/Sep_Not assigned_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/Sep_South - I_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/Sep_South - II_chunk_1.csv
Saved: C:\Users\HP\Downloads\new/Sep_West_chunk_1.csv