In [ ]:
import pandas as pd

# Load your Excel data
df = pd.read_excel("your_file.xlsx")

# Separate monthly and quarterly data
monthly_data = df[df['Month'] != '-']  # Monthly data where Month is not "-"
quarterly_data = df[df['Month'] == '-']  # Quarterly data where Month is "-"

# Convert monthly data to quarterly by grouping and aggregating
# Replace 'Value' with the relevant column to aggregate
aggregated_monthly = (
    monthly_data.groupby(['Year', (monthly_data['Month'].astype(int) - 1) // 3 + 1])  # Calculate quarter from month
    .sum()  # Use the appropriate aggregation function here
    .reset_index()
)

# Rename columns to match the quarterly structure
aggregated_monthly.columns = ['Year', 'Quarter', 'Value']  # Adjust as needed
aggregated_monthly['Quarter'] = 'Q' + aggregated_monthly['Quarter'].astype(str)

# Combine the aggregated monthly data with the original quarterly data
result = pd.concat([quarterly_data, aggregated_monthly], ignore_index=True)

# Save the result to Excel
result.to_excel("converted_to_quarterly.xlsx", index=False)

In [3]:
import pandas as pd

In [ ]:
df = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Advantage_Score card compile file.xlsx")

In [9]:
df.columns

Index(['Year', 'Qtr', 'Month', 'SAP ID', 'Dealer type', 'Business Name',
       'Owner Name', 'HO Customer Class', 'Is Active', 'Pincode',
       ...
       '14-15 inch\nPuncture Gaurad_Points',
       '16 and above\nPuncture Gaurad_Points',
       '12-13 inch Smart_normal_\nPoints', '14-15 inch Smart_normal_\nPoints',
       '16 and above Smart_normal_\nPoints',
       '12-13 inch Smart_premium_\nPoints',
       '14-15 inch Smart_premium_\nPoints',
       '16 and above Smart_premium_\nPoints', 'Additional Scheme Points',
       'Comments'],
      dtype='object', length=102)

In [17]:
df['Month'].value_counts()

Month
--       86088
April    16702
May      16702
Oct      16533
Nov      16533
Dec      16533
Jan      16422
Feb      16422
Mar      16422
Aug      16416
Sep      16416
July     14237
June     11797
june      4905
Jul       2179
Name: count, dtype: int64

In [41]:
# Get count of unique values for all columns
unique_counts = {col: df[col].nunique() for col in df.columns}

# Display the result
print(unique_counts)

{'Year': 8, 'Qtr': 6, 'Month': 15, 'SAP ID': 11138, 'Dealer type': 9, 'Business Name': 2426, 'Owner Name': 2310, 'HO Customer Class': 19, 'Is Active': 2, 'Pincode': 1794, 'City': 924, 'District': 601, 'State': 50, 'Territory Name': 186, 'Area': 77, 'Region': 28, 'Zone': 5, 'Zone Name': 5, 'SO Name': 149, 'AM Name': 74, 'RM Name': 27, 'ZM Name': 5, 'Joining \nBouns': 160, 'Total Offtake': 2604, 'PCR\nOfftake': 2146, 'PCR\nPoints': 30758, 'Truck TBR Offtake': 737, 'Truck TBR Point': 1018, 'Truck TBB Offtake': 682, 'Truck TBB Point': 963, 'LCV \nOfftake': 459, 'LCV Point': 2471, 'SCV \nOfftake': 454, 'SCV Point': 1505, 'CAR+UV\nOfftake': 1063, 'CAR+UV': 8681, 'Farm\nOfftake': 402, 'Farm Point': 571, '2/3 Wheelers Offtake': 539, '2/3 Wheelers Point': 766, 'Other\nOfftake': 13, 'Other Point': 0, 'Trade Scheme &Additional Points  ': 7195, 'SCV \n12 to 14 inches\nOfftake': 380, 'SCV \n14 to 15 inches\nOfftake': 212, 'SCV \n16 and above inches\nOfftake': 17, 'Truck TBR \n16 and above inches\nOfftake': 737, 'Truck TBB \n16 and above inches\nOfftake': 682, 'LCV \n12 to 14 inches\nOfftake': 13, 'LCV \n14 to 15 inches\nOfftake': 402, 'LCV \n16 and above inches\nOfftake': 212, 'Farm \n12 to 14 inches\nOfftake': 33, 'Farm \n14 to 15 inches\nOfftake': 14, 'Farm \n16 and above inches\nOfftake': 397, '2/3 Wheelers \n12 to 14 inches\nOfftake': 366, '2/3 Wheelers \n14 to 15 inches\nOfftake': 6, '2/3 Wheelers \n16 and above inches\nOfftake': 370, 'Other12-13': 2, 'OtherMore Than 16': 13, 'CAR+UV \n12 to 14 inches\nOfftake': 870, 'CAR+UV \n15 to 17 inches\nOfftake': 541, '12-13 inch Normal_Offtake': 1128, '14-15 inch Normal_Offtake': 1255, '16 and above Normal_Offtake': 560, '12-13 inch Premiun_Offtake': 2, '14-15 inch Premiun_Offtake': 524, '16 and above Premiun_Offtake': 640, '12-13 inch\nLevitas_Offtake': 2, '14-15 inch\nLevitas_Offtake': 2, '16 and above\nLevitas_Offtake': 39, '12-13 inch\nPuncture Gaurad_Offtake': 2, '14-15 inch\nPuncture Gaurad_Offtake': 47, '16 and above\nPuncture Gaurad_Offtake': 47, '12-13 inch Smart_normal_Offtake': 10, '14-15 inch Smart_normal_Offtake': 105, '16 and above Smart_normal_Offtake': 217, '12-13 inch Smart_premium_Offtake': 11, '14-15 inch Smart_premium_Offtake': 52, '16 and above Smart_premium_Offtake': 190, 'SCV \n12 to 14 inches\nPoints': 794, 'CAR+UV \n12 to 14 inches\nPoints': 3010, 'CAR+UV \n15 to 17 inches\nPoints': 1966, '12-13 inch Normal_Points': 2834, '14-15 inch Normal_Points': 5559, '16 and above Normal_Points': 3377, '12-13 inch Premiun_Points': 1, '14-15 inch Premiun_Points': 1580, '16 and above Premiun_Points': 1669, '12-13 inch\nLevitas_Points': 1, '14-15 inch\nLevitas_Points': 60, '16 and above\nLevitas_Points': 204, '12-13 inch\nPuncture Gaurad_Points': 1, '14-15 inch\nPuncture Gaurad_Points': 731, '16 and above\nPuncture Gaurad_Points': 696, '12-13 inch Smart_normal_\nPoints': 37, '14-15 inch Smart_normal_\nPoints': 331, '16 and above Smart_normal_\nPoints': 1326, '12-13 inch Smart_premium_\nPoints': 25, '14-15 inch Smart_premium_\nPoints': 117, '16 and above Smart_premium_\nPoints': 651, 'Additional Scheme Points': 8017, 'Comments': 1758}

In [35]:
# Separate monthly and quarterly data
monthly_data = df[df['Month'] != '--']  # Monthly data where Month is not "-"
quarterly_data = df[df['Month'] == '--']  # Quarterly data where Month is "-"

# Ensure "Month" column has only numeric values for monthly_data
monthly_data = monthly_data[pd.to_numeric(monthly_data['Month'], errors='coerce').notna()]
monthly_data['Month'] = monthly_data['Month'].astype(int)

# Select columns to aggregate (columns that contain 'Points')
points_columns = [col for col in df.columns if 'Points' in col]

# Group and aggregate monthly data by year and calculated quarter
aggregated_monthly = (
    monthly_data.groupby(['Year', (monthly_data['Month'] - 1) // 3 + 1])  # Calculate quarter
    [points_columns].sum()  # Aggregate only the points columns
    .reset_index()
)

# Rename the calculated quarter column for consistency
aggregated_monthly.columns = ['Year', 'Quarter'] + points_columns
aggregated_monthly['Quarter'] = 'Q' + aggregated_monthly['Quarter'].astype(str)

# Combine the aggregated monthly data with the original quarterly data
result = pd.concat([quarterly_data, aggregated_monthly], ignore_index=True)

In [37]:
# Save the result to Excel
result.to_excel(r"E:\FY compiled Scorecard\Advantage\converted_to_quarterly.xlsx", index=False)

In [49]:
# Make sure columns have no extra spaces or newlines
df.columns = df.columns.str.strip().str.replace("\n", " ")

# Convert 'Year', 'Quarter', and 'Month' columns to ensure consistency
df['Year'] = df['Year'].astype(str)
df['Qtr'] = df['Qtr'].astype(str)
df['Month'] = df['Month'].astype(str)

# Identify rows where Month is not "-"
df_monthly = df[df['Month'] != '-']

# Define a dictionary to map month names to quarters
month_to_quarter = {
    'April': 'Q1', 'May': 'Q1', 'June': 'Q1',
    'July': 'Q2', 'Aug': 'Q2', 'Sep': 'Q2',
    'Oct': 'Q3', 'Nov': 'Q3', 'Dec': 'Q3',
    'Jan': 'Q4', 'Feb': 'Q4', 'Mar': 'Q4'
}

# Apply the dictionary mapping directly to the 'Month' column to assign the correct quarter
df_monthly['Qtr'] = df_monthly['Month'].map(month_to_quarter)

# Group by Year and Quarter, summing the relevant columns
# List of the columns you want to sum
columns_to_sum = [
    'Joining Bouns', 'Total Offtake', 'PCR Offtake', 'PCR Points', 'Truck TBR Offtake', 
    'Truck TBR Point', 'Truck TBB Offtake', 'Truck TBB Point', 'LCV Offtake', 'LCV Point', 
    'SCV Offtake', 'SCV Point', 'CAR+UV Offtake', 'CAR+UV', 'Farm Offtake', 'Farm Point',
    '2/3 Wheelers Offtake', '2/3 Wheelers Point', 'Other Offtake', 'Other Point',
    'Trade Scheme &Additional Points', 'SCV 12 to 14 inches Offtake', 'SCV 14 to 15 inches Offtake',
    'SCV 16 and above inches Offtake', 'Truck TBR 16 and above inches Offtake', 
    'Truck TBB 16 and above inches Offtake', 'LCV 12 to 14 inches Offtake', 
    'LCV 14 to 15 inches Offtake', 'LCV 16 and above inches Offtake', 'Farm 12 to 14 inches Offtake', 
    'Farm 14 to 15 inches Offtake', 'Farm 16 and above inches Offtake', '2/3 Wheelers 12 to 14 inches Offtake', 
    '2/3 Wheelers 14 to 15 inches Offtake', '2/3 Wheelers 16 and above inches Offtake', 'Other12-13', 
    'OtherMore Than 16', 'CAR+UV 12 to 14 inches Offtake', 'CAR+UV 15 to 17 inches Offtake', 
    '12-13 inch Normal_Offtake', '14-15 inch Normal_Offtake', '16 and above Normal_Offtake',
    '12-13 inch Premiun_Offtake', '14-15 inch Premiun_Offtake', '16 and above Premiun_Offtake', 
    '12-13 inch Levitas_Offtake', '14-15 inch Levitas_Offtake', '16 and above Levitas_Offtake', 
    '12-13 inch Puncture Gaurad_Offtake', '14-15 inch Puncture Gaurad_Offtake', 
    '16 and above Puncture Gaurad_Offtake', '12-13 inch Smart_normal_Offtake', 
    '14-15 inch Smart_normal_Offtake', '16 and above Smart_normal_Offtake', 
    '12-13 inch Smart_premium_Offtake', '14-15 inch Smart_premium_Offtake', 
    '16 and above Smart_premium_Offtake', 'SCV 12 to 14 inches Points', 'CAR+UV 12 to 14 inches Points',
    'CAR+UV 15 to 17 inches Points', '12-13 inch Normal_Points', '14-15 inch Normal_Points',
    '16 and above Normal_Points', '12-13 inch Premiun_Points', '14-15 inch Premiun_Points', 
    '16 and above Premiun_Points', '12-13 inch Levitas_Points', '14-15 inch Levitas_Points',
    '16 and above Levitas_Points', '12-13 inch Puncture Gaurad_Points', '14-15 inch Puncture Gaurad_Points',
    '16 and above Puncture Gaurad_Points', '12-13 inch Smart_normal_ Points', '14-15 inch Smart_normal_ Points',
    '16 and above Smart_normal_ Points', '12-13 inch Smart_premium_ Points', 
    '14-15 inch Smart_premium_ Points', '16 and above Smart_premium_ Points', 'Additional Scheme Points'
]

# Group by Year and Quarter and sum the values for the columns
df_quarterly = df_monthly.groupby(['Year', 'Qtr'], as_index=False)[columns_to_sum].sum()

# Merge the quarterly data back into the original dataframe
df = pd.merge(df, df_quarterly, how='left', on=['Year', 'Qtr'])

# Now fill any missing values for quarterly data based on monthly summation
df['Month'] = df['Month'].apply(lambda x: '-' if x != '-' else x)

# Save the modified data back to an Excel file
df.to_excel("modified_file.xlsx", index=False)

KeyError: "Columns not found: '2/3 Wheelers 16 and above inches Offtake', 'LCV Offtake', 'SCV 14 to 15 inches Offtake', 'LCV 16 and above inches Offtake', 'SCV Offtake', 'LCV 12 to 14 inches Offtake', 'CAR+UV 12 to 14 inches Points', 'SCV 12 to 14 inches Points', '2/3 Wheelers 14 to 15 inches Offtake', 'Farm 16 and above inches Offtake', 'Farm 14 to 15 inches Offtake', '2/3 Wheelers 12 to 14 inches Offtake', 'CAR+UV 15 to 17 inches Points', 'LCV 14 to 15 inches Offtake', 'Truck TBR 16 and above inches Offtake', 'Truck TBB 16 and above inches Offtake', 'SCV 16 and above inches Offtake', 'Joining Bouns', 'Farm 12 to 14 inches Offtake', 'CAR+UV 15 to 17 inches Offtake', 'CAR+UV 12 to 14 inches Offtake', 'SCV 12 to 14 inches Offtake'"

In [64]:
# Convert relevant columns to numeric, forcing non-numeric values to NaN
df[existing_columns_to_sum] = df[existing_columns_to_sum].apply(pd.to_numeric, errors='coerce')

# Optionally handle NaN values (if needed, e.g., fill with zeroes)
df[existing_columns_to_sum] = df[existing_columns_to_sum].fillna(0)

# Now group by Year and Quarter and sum the values for the numeric columns
df_quarterly = df.groupby(['Year', 'Qtr'], as_index=False)[existing_columns_to_sum].sum()

# Merge the quarterly data back into the original dataframe
df = pd.merge(df, df_quarterly, how='left', on=['Year', 'Qtr'])

In [ ]:
df_quarterly.to_excel(r"E:\FY compiled Scorecard\Advantage\Advantage_Score card compile file.xlsx"))