In [1]:
import pandas as pd
import numpy as np

In [7]:
df2 = pd.read_excel(r"E:\FY compiled Scorecard\Advantage\Final\Book3.xlsx")

In [17]:
df2['Year'].value_counts()

Year
2020-2021    31396
2021-2022    28812
2019-2020    25880
2022-2023    19853
2023-2024    19660
2018-2019    10180
2017-2018     8716
2016-2017     7664
Name: count, dtype: int64

In [19]:
df2 = df2.sort_values(by=['Year', 'Qtr', 'Total Offtake'], ascending=[True, True, False])
df2['Rank'] = df2.groupby(['Year', 'Qtr'])['Total Offtake'].rank(ascending=False, method='dense')

In [23]:
def assign_slab(rank):
    if rank <= 25 :
        return "Top"
    elif rank <= 50:
        return "High"
    elif rank <= 500:
        return "Medium"
    else:
        return "Low"

In [25]:
df2['Rank Slab'] = df2['Rank'].apply(assign_slab)

In [35]:
from scipy.stats import percentileofscore

# Define a function to calculate percentile and round it
def calculate_percentile(group):
    group['Percentile'] = group['Total Offtake'].apply(lambda x: round(percentileofscore(group['Total Offtake'], x), 0))
    return group

# Apply the function to each Year and Quarter group
df2 = df2.groupby(['Year', 'Qtr'], group_keys=False).apply(calculate_percentile)

C:\Users\HP\AppData\Local\Temp\ipykernel_13476\996869355.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df2 = df2.groupby(['Year', 'Qtr'], group_keys=False).apply(calculate_percentile)

In [37]:
df2['Rank']

261         1.0
282         2.0
7           3.0
943         4.0
1375        5.0
          ...
150464    624.0
148657    625.0
152040    626.0
148029    627.0
148670    628.0
Name: Rank, Length: 152161, dtype: float64

In [39]:
df2.to_excel(r"E:\FY compiled Scorecard\Advantage\Final\grouped_df(Updated)1.xlsx")