In [3]:
import pandas as pd

In [7]:
df1 = pd.read_csv(r"C:\Users\HP\Downloads\fy_2019-20.csv")
df2 = pd.read_csv(r"C:\Users\HP\Downloads\fy_2020-21.csv")
df3 = pd.read_csv(r"C:\Users\HP\Downloads\fy_2021-22.csv")
df4 = pd.read_csv(r"C:\Users\HP\Downloads\fy_2022-23.csv")
df5 = pd.read_csv(r"C:\Users\HP\Downloads\fy_2023-24.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_5248\3516768435.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(r"C:\Users\HP\Downloads\fy_2021-22.csv")
C:\Users\HP\AppData\Local\Temp\ipykernel_5248\3516768435.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv(r"C:\Users\HP\Downloads\fy_2023-24.csv")

In [17]:
df5.columns

Index(['Quarter', 'Year', 'Month', 'Zone', 'Region', 'CustomerCode',
       'Customer', 'AccountGroupKey', 'AccountGroup', 'CustomerClassification',
       'Inches', 'Material', 'TyreCategory', 'Pattern', 'BillingType',
       'Quantity', 'Category'],
      dtype='object')

In [57]:
df1['Source'] = 'df1'
df1['FiscalYear'] = 'fy_2019-20'

df2['Source'] = 'df2'
df2['FiscalYear'] = 'fy_2020-21'

df3['Source'] = 'df3'
df3['FiscalYear'] = 'fy_2021-22'

df4['Source'] = 'df4'
df4['FiscalYear'] = 'fy_2022-23'

df5['Source'] = 'df5'
df5['FiscalYear'] = 'fy_2023-24'

combined_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [59]:
combined_df.columns

Index(['Quarter', 'Year', 'Month', 'Zone', 'Region', 'CustomerCode',
       'Customer', 'AccountGroupKey', 'AccountGroup', 'CustomerClassification',
       'Inches', 'Material', 'TyreCategory', 'Pattern', 'BillingType',
       'Quantity', 'Category', 'Source', 'FiscalYear'],
      dtype='object')

In [67]:
filtered_df = combined_df[combined_df['BillingType'].isin(['ZOR', 'YOR', 'YPLT', 'YRDR', 'ZPLT', 'ZRDR'])]


pivot = pd.pivot_table(combined_df,values='Quantity',
                       index=['FiscalYear', 'TyreCategory', 'BillingType','AccountGroupKey','AccountGroup','Category'],
                       aggfunc='sum')

In [111]:
print(pivot)

                                                                                                            Quantity
FinancialYear TyreCategory   BillingType AccountGroupKey AccountGroup      Category CustomerClassification
19-20         2-3W           YOR         Z001            Dealer            #        CO                       11417.0
                                                                                    EC                         165.0
                                                                                    EN                          15.0
                                                                                    FW                         286.0
                                                                                    HC                         338.0
...                                                                                                              ...
23-24         PUNCTURE-GUARD ZOR         Z009            Fleet A/C         CAR RDL  FM                          41.0
                                                                                    MB                           2.0
                                                                                    TR                           6.0
                                         Z010            One-time customer CAR RDL  #                           28.0
                             ZPLT        Z001            Dealer            CAR RDL  SW                         500.0

[5983 rows x 1 columns]

In [69]:
pivot.to_csv(r"C:\Users\HP\Downloads\compile value.csv")

In [70]:
df1['Year'].value_counts()

Year
2019    961408
2020    206782
Name: count, dtype: int64

In [71]:
combined_df['FiscalYear'].value_counts()

FiscalYear
fy_2022-23    1528480
fy_2023-24    1443081
fy_2020-21    1198893
fy_2019-20    1168190
fy_2021-22     785752
Name: count, dtype: int64

In [77]:
df6 = pd.read_csv(r"C:\Users\HP\Downloads\data.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_5248\4151337634.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(r"C:\Users\HP\Downloads\data.csv")

In [145]:
def determine_product_type(value):
    if value.startswith("131") or value.startswith("133") or value.startswith("141") or value.startswith("143"):
        return "PCR-BIAS"
    elif value.startswith("132") or value.startswith("142") or value.startswith("145"):
        return "PCR-RADIAL"
    else:
        return "NA"
df6['Product_Type'] = df6['Material'].apply(determine_product_type)

In [147]:
df6.columns

Index(['FinancialYear', 'Quarter', 'Year', 'Month', 'Zone', 'Region',
       'CustomerCode', 'Customer', 'AccountGroupKey', 'AccountGroup',
       'CustomerClassification', 'Inches', 'Material', 'TyreCategory',
       'Pattern', 'BillingType', 'Quantity', 'Category', 'Product_Type'],
      dtype='object')

In [149]:
filtered_df = df6[
    (df6['Quantity'] > 0) &
    (df6['AccountGroupKey'].isin(['#','Z001','Z004']))]

In [219]:
df6['BillingType'].value_counts()

BillingType
ZOR                    3524288
YOR                    1495612
Claim Award Billing     464448
ZVCR                    210862
YBCL                    202203
ZBCL                     92213
FOC Claim Invoice        32996
YPLT                     25153
ZRDR                     14342
ZPLT                     12571
ZFCL                      8880
S1                        8708
ZBHU                      5590
YRDR                      5368
ZCC                       5277
YFCL                      5120
S2                        3610
Govt Billing              3255
FOC ND/DIT                1265
YCC                        534
Scrap Inv - Depot          490
ZCCR                       396
ZGOV                       342
ZEXP                       175
YBHU                       167
ZBFO                       152
Export Invoice              77
ND/DIT/Old Item Inv         69
YBFO                        60
ZTRL                        51
YEXP                        27
YCCR                        27
Plant Returns               23
ZSCD                        15
ZVDR                        12
ZSRT                         5
FOC Invoice                  4
ZOJ                          4
ZROP                         3
ZFOC                         1
ZOCT                         1
Name: count, dtype: int64

In [153]:
pivot = pd.pivot_table(
    filtered_df,
    values=['Quantity', 'CustomerCode'],
    index=['FinancialYear', 'Product_Type', 'TyreCategory', 'BillingType', 'AccountGroupKey', 'AccountGroup', 'Category', 'CustomerClassification'],
    aggfunc={'Quantity': 'sum', 'CustomerCode': 'count'}
)

In [154]:
pivot.to_csv(r"C:\Users\HP\Downloads\compile value.csv")

In [243]:
filtered_df_1 = df6[
    (df6['Quantity'] > 0) &
    (df6['Product_Type'].isin(['PCR-BIAS','PCR-RADIAL'])) &
    (df6['AccountGroupKey'].isin(['#','Z001','Z004']))]

pivot2 = pd.pivot_table(
    filtered_df_1,
    values=['Quantity', 'CustomerCode'],
    index=['FinancialYear', 'Product_Type','Quarter','CustomerClassification','AccountGroupKey'],
    aggfunc={'Quantity': 'sum', 'CustomerCode': 'count'}
)

In [244]:
print(pivot2)

                                                                           CustomerCode  \
FinancialYear Product_Type Quarter CustomerClassification AccountGroupKey
19-20         PCR-BIAS     Q1      CO                     Z001                      314
                                   EC                     Z001                        2
                                   FW                     Z001                        6
                                   HC                     Z001                        2
                                   IC                     Z001                       14
...                                                                                 ...
23-24         PCR-RADIAL   Q4      TR                     Z001                     1053
                                                          Z004                      139
                                   TW                     Z001                       94
                                   WV                     Z004                       37
                                   XW                     Z001                     5178

                                                                           Quantity
FinancialYear Product_Type Quarter CustomerClassification AccountGroupKey
19-20         PCR-BIAS     Q1      CO                     Z001               1658.0
                                   EC                     Z001                  6.0
                                   FW                     Z001                 20.0
                                   HC                     Z001                  4.0
                                   IC                     Z001                 38.0
...                                                                             ...
23-24         PCR-RADIAL   Q4      TR                     Z001               3228.0
                                                          Z004               3824.0
                                   TW                     Z001                272.0
                                   WV                     Z004                314.0
                                   XW                     Z001              22031.0

[795 rows x 2 columns]

In [239]:
df7 = df6[df6['FinancialYear'].isin(['23-24']) & df6['Quarter'].isin(['Q4','Q1']) & df6['AccountGroupKey'].isin(['#','Z001','Z004'])].copy()
df8 = df6[df6['FinancialYear'].isin(['23-24']) & df6['Quarter'].isin(['Q2','Q3']) ].copy()

In [228]:
df7.columns

Index(['FinancialYear', 'Quarter', 'Year', 'Month', 'Zone', 'Region',
       'CustomerCode', 'Customer', 'AccountGroupKey', 'AccountGroup',
       'CustomerClassification', 'Inches', 'Material', 'TyreCategory',
       'Pattern', 'BillingType', 'Quantity', 'Category', 'Product_Type'],
      dtype='object')

In [233]:
df7['Quarter'].value_counts()

Quarter
Q1    392736
Q2    374621
Q3    352433
Q4    323291
Name: count, dtype: int64

In [241]:
df7.to_csv(r"E:\FY compiled Scorecard\Advantage\Final\Final\FY-23_24(whole data_Q4&1).csv")
df8.to_csv(r"E:\FY compiled Scorecard\Advantage\Final\Final\FY-23_24(whole data_Q2&3).csv")

In [247]:
pivot2.to_csv(r"E:\FY compiled Scorecard\Advantage\Final\Final\new.csv")

In [223]:
filtered_df_3 = df6[
    (df6['Quantity'] > 0) &
    (df6['FinancialYear'].isin(['23-24']))&
    (df6['Product_Type'].isin(['PCR-BIAS','PCR-RADIAL'])) &
    (df6['BillingType'].isin(['ZOR','YOR','YPLT','YRDR','ZPLT','ZRDR']))&
    (df6['AccountGroupKey'].isin(['#','Z001','Z004']))]

pivot2 = pd.pivot_table(
    filtered_df_3,
    values=['Quantity'],
    index=['FinancialYear', 'CustomerCode','Product_Type','Quarter','CustomerClassification','AccountGroupKey'],
    aggfunc={'Quantity': 'sum'}
)

In [225]:
pivot2.to_csv(r"E:\FY compiled Scorecard\Advantage\Final\Final\FY-23_24.csv")